body{
  position: relative;
  text-align: center;
}
img {
  width: 100%;
}

.link-container {
  border: 1px solid black;
}

.header {
  padding: 1%;
  background: #f5f5FF;
  top: 0;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
box-shadow: 10px 10px 10px 0 #888888;
}

#header-title {
  background: white;
}

#header-links {
  margin-left: 1%;
}

#header-links a {
  border: 1px solid black;
}

.link-container {
  background: white;
}

#user {
  background: white;
  margin-right: 3%;
}
